.customize-control-radio-image .ui-buttonset {
    text-align: center;
}
.footer_widget_area_placing-3, .footer_widget_area_placing-4, .footer_widget_area_placing-6
{
    max-width: 32% !important;
}
.footer_widget_area_placing-3 .wp-ui-highlight, .footer_widget_area_placing-4 .wp-ui-highlight, .footer_widget_area_placing-6 .wp-ui-highlight {
    background-color: #E6E6E6 !important;
}
.customize-control-radio-image label {
    display: inline-block;
    max-width: 49%;
    padding: 3px;
    font-size: inherit;
    line-height: inherit;
    height: auto;
    cursor: pointer;
    border-width: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: inherit;
}
.customize-control-radio-image label:first-of-type {
    float: left;
}
.customize-control-radio-image label:hover {
    background: none;
    border-color: inherit;
    color: inherit;
}
.customize-control-radio-image label:active {
    background: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.customize-control-radio-image img { border: 1px solid transparent; }
.customize-control-radio-image .ui-state-active img {
    border-color: #5B9DD9;
    -webkit-box-shadow: 0 0 3px rgba(0,115,170,.8);
    box-shadow: 0 0 3px rgba(0,115,170,.8);
}
#customize-control-footer_widget_layout label {
    display: inline-block;
    max-width: 20%;
    padding: 3px;
    font-size: inherit;
    line-height: inherit;
    height: auto;
    cursor: pointer;
    border-width: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: inherit;
}
#customize-control-footer_widget_layout .ui-buttonset
{
    text-align: left;
}