#customize-control-theme_style_type input[type=radio], 
#customize-control-predefined_back_image input[type=radio], 
#input_preloader_style input[type=radio],
#customize-control-after_menu_widget_area_section,
#customize-control-header_preset_layout input[type=radio],
#customize-control-footer_widget_layout input[type=radio],
#customize-control-footer_bar_layout input[type=radio],
#customize-control-footer_bar_section2_copyright,
#customize-control-banner_height_ipad,
#customize-control-banner_height_mobile {
    display: none;
}

.customize-pane-child>li[id=customize-control-topbar_widget_title_fontstyle],
.customize-pane-child>li[id=customize-control-topbar_widget_title_text_transform],
.customize-pane-child>li[id=customize-control-topbar_widget_content_fontstyle],
.customize-pane-child>li[id=customize-control-topbar_widget_content_text_transform],
.customize-pane-child>li[id=customize-control-site_title_fontstyle],
.customize-pane-child>li[id=customize-control-site_title_text_transform],
.customize-pane-child>li[id=customize-control-tagline_fontstyle],
.customize-pane-child>li[id=customize-control-tagline_text_transform],
.customize-pane-child>li[id=customize-control-menu_fontstyle],
.customize-pane-child>li[id=customize-control-menu_text_transform],
.customize-pane-child>li[id=customize-control-submenu_fontstyle],
.customize-pane-child>li[id=customize-control-submenu_text_transform],
.customize-pane-child>li[id=customize-control-after_btn_fontstyle],
.customize-pane-child>li[id=customize-control-after_btn_text_transform],
.customize-pane-child>li[id=customize-control-banner_page_title_fontstyle],
.customize-pane-child>li[id=customize-control-banner_page_title_text_transform],
.customize-pane-child>li[id=customize-control-banner_breadcrumb_title_fontstyle],
.customize-pane-child>li[id=customize-control-banner_breadcrumb_title_text_transform],
.customize-pane-child>li[id=customize-control-content_h1_fontstyle],
.customize-pane-child>li[id=customize-control-content_h1_text_transform],
.customize-pane-child>li[id=customize-control-content_h2_fontstyle],
.customize-pane-child>li[id=customize-control-content_h2_text_transform],
.customize-pane-child>li[id=customize-control-content_h3_fontstyle],
.customize-pane-child>li[id=customize-control-content_h3_text_transform],
.customize-pane-child>li[id=customize-control-content_h4_fontstyle],
.customize-pane-child>li[id=customize-control-content_h4_text_transform],
.customize-pane-child>li[id=customize-control-content_h5_fontstyle],
.customize-pane-child>li[id=customize-control-content_h5_text_transform],
.customize-pane-child>li[id=customize-control-content_h6_fontstyle],
.customize-pane-child>li[id=customize-control-content_h6_text_transform],
.customize-pane-child>li[id=customize-control-content_p_fontstyle],
.customize-pane-child>li[id=customize-control-content_p_text_transform],
.customize-pane-child>li[id=customize-control-content_button_fontstyle],
.customize-pane-child>li[id=customize-control-content_button_text_transform],
.customize-pane-child>li[id=customize-control-post_fontstyle],
.customize-pane-child>li[id=customize-control-post_text_transform],
.customize-pane-child>li[id=customize-control-post_meta_fontstyle],
.customize-pane-child>li[id=customize-control-post_meta_text_transform],
.customize-pane-child>li[id=customize-control-shop_h1_fontstyle],
.customize-pane-child>li[id=customize-control-shop_h1_text_transform],
.customize-pane-child>li[id=customize-control-shop_h2_fontstyle],
.customize-pane-child>li[id=customize-control-shop_h2_text_transform],
.customize-pane-child>li[id=customize-control-shop_h3_fontstyle],
.customize-pane-child>li[id=customize-control-shop_h3_text_transform],
.customize-pane-child>li[id=customize-control-sidebar_widget_title_fontstyle],
.customize-pane-child>li[id=customize-control-sidebar_widget_title_text_transform],
.customize-pane-child>li[id=customize-control-sidebar_widget_content_fontstyle],
.customize-pane-child>li[id=customize-control-sidebar_widget_content_text_transform],
.customize-pane-child>li[id=customize-control-footer_widget_title_fontstyle],
.customize-pane-child>li[id=customize-control-footer_widget_title_text_transform],
.customize-pane-child>li[id=customize-control-footer_widget_content_fontstyle],
.customize-pane-child>li[id=customize-control-footer_widget_content_text_transform],
.customize-pane-child>li[id=customize-control-footer_bar_fontstyle],
.customize-pane-child>li[id=customize-control-footer_bar_text_transform]   {
    width: 48%; 
    clear: none; 
    padding-right: 5px;
}

#customize-control-olivewp_plus_blog_border_top,
#customize-control-olivewp_plus_blog_border_right,
#customize-control-olivewp_plus_blog_border_bottom,
#customize-control-olivewp_plus_blog_border_left,
#customize-control-olivewp_plus_blog_padding_top,
#customize-control-olivewp_plus_blog_padding_right,
#customize-control-olivewp_plus_blog_padding_bottom,
#customize-control-olivewp_plus_blog_padding_left,
#customize-control-olivewp_plus_blog_margin_top,
#customize-control-olivewp_plus_blog_margin_right,
#customize-control-olivewp_plus_blog_margin_bottom,
#customize-control-olivewp_plus_blog_margin_left,
#customize-control-olivewp_plus_single_blog_padding_top,
#customize-control-olivewp_plus_single_blog_padding_right,
#customize-control-olivewp_plus_single_blog_padding_bottom,
#customize-control-olivewp_plus_single_blog_padding_left,
#customize-control-olivewp_plus_single_blog_margin_top,
#customize-control-olivewp_plus_single_blog_margin_right,
#customize-control-olivewp_plus_single_blog_margin_bottom,
#customize-control-olivewp_plus_single_blog_margin_left,
#customize-control-olivewp_plus_single_blog_border_top,
#customize-control-olivewp_plus_single_blog_border_right,
#customize-control-olivewp_plus_single_blog_border_bottom,
#customize-control-olivewp_plus_single_blog_border_left
{
    width: 22%; 
    clear: none; 
    padding-right: 5px;
}
#customize-control-olivewp_plus_meta_padding_top,
#customize-control-olivewp_plus_meta_padding_right,
#customize-control-olivewp_plus_meta_padding_bottom,
#customize-control-olivewp_plus_meta_padding_left,
#customize-control-olivewp_plus_meta_margin_top,
#customize-control-olivewp_plus_meta_margin_right,
#customize-control-olivewp_plus_meta_margin_bottom,
#customize-control-olivewp_plus_meta_margin_left,
#customize-control-olivewp_plus_meta_border_top,
#customize-control-olivewp_plus_meta_border_right,
#customize-control-olivewp_plus_meta_border_bottom,
#customize-control-olivewp_plus_meta_border_left
{
    width: 22%; 
    clear: none; 
    padding-right: 5px;
    margin-bottom: 30px;
}




#customize-control-blog_margin_title,
#customize-control-blog_padding_title,
#customize-control-blog_border_title,
#customize-control-meta_padding_title,
#customize-control-meta_margin_title,
#customize-control-meta_border_title
{margin-bottom: -10px;}

#customize-control-olivewp_plus_enable_margin_single_post{margin-top: 10px;}
#customize-control-blog_border_title,
#customize-control-olivewp_plus_enable_margin_padding,
#customize-control-blog_margin_title,
#customize-control-olivewp_plus_enable_post_read_more,
#customize-control-olivewp_plus_blog_bgcolor
{
    border-top: 1px solid #f1f1f1;
    margin-top: 24px;
    padding-top: 20px;
}

#sub-accordion-section-olivewp_top_bar_typography .customize-control.customize-control-select .customize-control-title, 
#sub-accordion-section-olivewp_top_bar_typography .slider-custom-control .customize-control-title,
#sub-accordion-section-olivewp_after_btn_typography .customize-control.customize-control-select .customize-control-title, 
#sub-accordion-section-olivewp_after_btn_typography .slider-custom-control .customize-control-title,
#sub-accordion-section-olivewp_banner_typography .customize-control.customize-control-select .customize-control-title, 
#sub-accordion-section-olivewp_banner_typography .slider-custom-control .customize-control-title,
#sub-accordion-section-olivewp_post_meta_typography .customize-control.customize-control-select .customize-control-title, 
#sub-accordion-section-olivewp_post_meta_typography .slider-custom-control .customize-control-title,
#sub-accordion-section-olivewp_footer_bar_typography .customize-control.customize-control-select .customize-control-title, 
#sub-accordion-section-olivewp_footer_bar_typography .slider-custom-control .customize-control-title,
#sub-accordion-section-olivewp_after_menu .customize-control-title,
#sub-accordion-section-olivewp_breadcrumb_banner .customize-control-title,
#sub-accordion-section-olivewp_blog_page_archive .customize-control-title,
#sub-accordion-section-olivewp_single_post .customize-control-title,
#sub-accordion-section-olivewp_footer_bar .customize-control-title,
#customize-control-topbar_widget_title_color .customize-control-title,
#customize-control-topbar_widget_text_color .customize-control-title, 
#customize-control-topbar_widget_link_color .customize-control-title,
#customize-control-topbar_widget_link_hover_color .customize-control-title
 {
    font-weight: unset;
}

#customize-control-post_navigation_style .customize-control-title { margin-bottom: 5px; }
#customize-control-enable_after_menu .customize-control-title, #customize-control-enable_single_post .customize-control-title {
    font-weight: 600;
}

#customize-control-breadcrumb_top_padding, 
#customize-control-breadcrumb_right_padding, 
#customize-control-breadcrumb_bottom_padding, 
#customize-control-breadcrumb_left_padding {
    width: 21%;
    clear: none;
    margin: 0 10px 20px 0;
}
#customize-control-breadcrumb_section_padding h3 {
    margin: 0;
    color: #50575e;
    line-height: 1.75;
    font-weight: 600;
}

#sub-accordion-section-olivewp_plus_breadcrumb .slider.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
    width: 73%;
}
#sub-accordion-section-olivewp_plus_breadcrumb span.slider-reset.dashicons.dashicons-image-rotate {
    padding: 0px 4px;
}
#sub-accordion-section-olivewp_plus_breadcrumb input[type=number]{
    min-height: 35px;
}
#customize-control-banner_height_option.customize-control {
    margin-bottom: 2px;
}