.olivewp-plus-nav-tabs {
    margin: 30px 0 0;
    border-bottom: 1px solid #dedede;
    background: #fff;
}
.olivewp-plus-nav-tabs:after {
    clear: both;
    display: table;
    content: " ";
}
.olivewp-plus-nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    display: block;
}
.olivewp-plus-nav-tabs > li.active > a, .olivewp-plus-nav-tabs > li.active > a:focus, .olivewp-plus-nav-tabs > li.active > a:hover {
    background: #fff;
    border-bottom-color: #fff;
    color: #ff6f61;
    border-bottom-color: transparent;
}
.olivewp-plus-nav-tabs li:last-child .nav-tab {
    border-right: 1px solid #ccc;
}
.olivewp-plus-nav-tabs > li.olivewp-plus-w-red-tab > a {
    color: red;
    font-weight: bold;
}
.olivewp-plus-tab-content {
    background-color: #fff;
}
.olivewp-plus-tab-content > .tab-pane {
    display: none;
}
.olivewp-plus-tab-content > .active {
    display: block;
}
.olivewp-plus-tab-pane.active {
    display: block;
}

#olivewp-plus-theme-version {
    font-size: 50%;
    padding: 10px;
    background: #ccc;
}
#olivewp-plus-w-screenshot {
    border: 1px solid #ccc;
    margin-top: 30px;
}
.olivewp-plus-w-activated {
    cursor:not-allowed !important;
}
.olivewp-plus-tab-pane-half {
    padding-left: 20px;
    margin-top: 15px;
    padding-right: 20px;
    margin-bottom: 15px;
}
.olivewp-plus-tab-content img {
    max-width: 100%;
}
.olivewp-plus-pane-first-half {
    border-left: none;
}
.olivewp-plus-pane-center {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #eaeaea;
}

.olivewp-plus-tab-center {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid #eaeaea;
}

#getting_started .olivewp-plus-info-title, #imp_articles .olivewp-plus-info-title {
    font-size: 30px;
    border-bottom: 1px solid #eaeaea;
    line-height:50px;
    font-weight: 600;
    text-align: center;
    display: block!important;
}
.olivewp-plus-clear {
    clear: both;
}
.olivewp-plus-child-theme-container {
    position: relative;
}
.olivewp-plus-child-theme-description {
    position: absolute;
    top: 100%;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
    padding: 0;
    max-width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 500ms;
    -moz-transition-delay: 500ms;
    -ms-transition-delay: 500ms;
    -o-transition-delay: 500ms;
    transition-delay: 500ms;
}

.olivewp-plus-child-theme-image-container {
    position: relative;
    overflow: hidden;
}
.olivewp-plus-child-theme-image-container img {
    max-width: 100%;
}
.olivewp-plus-child-theme-details .theme-details {
    padding: 10px;
    background: none repeat scroll 0 0 #F1F1F1;
    font-size: 18px;
}

.olivewp-plus-child-theme-details .theme-details.active {
    background: none repeat scroll 0 0 #2B5F87;
    color: #fff;
}

.olivewp-plus-child-theme-details .theme-details .theme-name {
    float:left;
}
.olivewp-plus-child-theme-details .theme-details .preview {
    margin-right: 2px;
}
.olivewp-plus-fre-pro table {
    border-collapse: collapse;
    width: 100%;
}
.olivewp-plus-fre-pro table tr {
    border-bottom: 1px solid #ddd;
}
.olivewp-plus-fre-pro table td {
    padding: 30px;
    width: 25%;
    padding: 10px;
    color: #555;
    font-weight: bold;
    border-left: 2px solid #ebebeb;
    text-align:center;
}
}
.olivewp-plus-fre-pro table th {
    padding-bottom: 30px;
    font-size:19px;
}
.olivewp-plus-fre-pro table td span.dashicons-before:before {
    font-size: 50px;
    width: auto;
    height: auto;
}
.olivewp-plus-fre-pro table td span.dashicons-yes:before {
    color:green;
}
.olivewp-plus-fre-pro table td span.dashicons-no-alt:before {
    color:red;
}
.olivewp-plus-fre-pro table tr.olivewp-plus-text-center {
    text-align: center;
}
.olivewp-plus-actions-count {
    padding: 0 6px;
    display: inline-block;
    background-color: #d54e21;
    color: #fff;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}
.olivewp-plus-action-required-box {
    position: relative;
}
.olivewp-plus-dismiss-required-action {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    background-color: #D24A4A;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
.olivewp-plus-dismiss-required-action:hover {
    background-color: #CC8C8C;
}

#github.olivewp-plus-lite-tab-pane {
  text-align: center;
}

#github.olivewp-plus-lite-tab-pane .olivewp-plus-tab-pane-half {
  min-height: 160px;
}

#github.olivewp-plus-lite-tab-pane .translate-button, #github .github-button {
  margin-top: 20px;
}

#github.olivewp-plus-lite-tab-pane .dashicons {
  color: #0073aa;
  font-size: 12px;
  width: auto;
}

#github.olivewp-plus-lite-tab-pane h4 {
  margin:10px;;
}

#github.olivewp-plus-lite-tab-pane p.review-link {
  margin:0;
}

#github.olivewp-plus-lite-tab-pane .olivewp-plus-tab-pane-half hr {
  display: none;
}

/*Breakpoints*/

}
@media (max-width: 782px) {
  #github.olivewp-plus-tab-pane .olivewp-plus-tab-pane-half hr {
    display:block;
  }

  .olivewp-plus-tab-pane-half {
    width: auto;
    float: none;
    border-left: none;
  }
  .olivewp-plus-welcome-title, .olivewp-plus-tab-content h1 {
    line-height: 30px;
  }
  .olivewp-plus-fre-pro table td {
    padding: 30px 10px;
  }
}

.olivewp-plus-tab-pane-first-half p  
{
    font-size:17px;
}


.info-container {
    background-color: #fff;
    margin-right: 20px;
    padding: 60px 30px 90px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.info-title {
    margin: 0 0 45px;
    text-transform: uppercase;
}

.info-block {
    float: left;
    width: 100%;
    border: 1px solid #eaeaea;
    padding: 25px 15px 15px;
    margin: 1%;
    background-color: #f7f7f7;
    text-align:center;
}

.info-icon {
    font-size: 34px;
    width: auto;
    height: auto;
}

.dashicons, .dashicons-before:before {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    vertical-align: top;
    text-align: center;
    -webkit-transition: color .1s ease-in 0;
    transition: color .1s ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.info-text a {
    color: #444;
    text-decoration: none;
}

/*css 4 oct 18*/
.m-top-40 { margin-top: 40px; }
.m-top-40 p {font-size: 15px; }
.theme-info-wrap h3 { margin: 1.25em 0 .6em; }
.theme-info-wrap h3 > i { line-height: 1.2; margin-right: 15px }

.about-wrap{ margin: 25px 25px 0 20px; max-width: 100%;}

/* Extra css */
.olivewp-plus-page {
border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    margin-bottom: 30px;
}

.olivewp-plus-page .olivewp-plus-page-top {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding: 12px 15px;
    font-weight: 600;
}

.olivewp-plus-page .olivewp-plus-page-content {
    padding: 15px 15px 0;
    overflow: auto;
}

.olivewp-plus-page-list-flex {
    list-style: none;
    margin: -15px;
    box-sizing: border-box;
}

.olivewp-plus-page-list-flex li {
    box-sizing: border-box;
    width: 50%;
    float: left;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    border-right: 1px solid #eee;
    padding: 12px 15px;
    font-size: 1rem;
}
.olivewp-plus-page-list-flex a, .olivewp-plus-page-list-flex li a{
    text-decoration: none;
}
.olivewp-plus-page-list-flex a, .olivewp-plus-page-list-flex li a {
    color: #ff6f61;
}
.olivewp-plus-page-list-flex a:hover, .olivewp-plus-page-list-flex li a:hover {
    color: #ce473a;
}
.action.spice-col-3 {
    float: left;
}
.olivewp-plus-page-quick-setting-link{
    font-size: 16px;
}
.action.spice-col-3:nth-child(2n+1){
    clear:left
}
@media (min-width: 768px){
.mockup {
    padding: 30px 40px;
    margin: 10px 40px;
}
}

/* Container, Row and Columns classes*/
.spice-container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}
.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
}
.spice-row {
    margin: 0 0 1.25rem;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.spice-row .spice-col-1 {
    float: none;
    width: 100%;
}
.spice-row .spice-col-2{ width: 66.66%; }
.spice-row .spice-col-3 {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.spice-row .spice-col-4 { width: 33.33%; }
.spice-row .spice-col-5 { width: 25%; }
.spice-row .spice-col-6 { width: 20%; }
.spice-row .spice-col-7 { width: 16.66666667%; }
.spice-row .spice-col-8 { width: 14.28%; }
.spice-row .spice-col-9 { width: 12.5%; }
.spice-row .spice-col-10 { width: 11.11%; }
.spice-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media only screen and (max-width: 815px) {
    .spice-row .spice-col-1 ,.spice-row .spice-col-2 ,.spice-row .spice-col-3 ,.spice-row .spice-col-4 ,.spice-row .spice-col-5 ,.spice-row .spice-col-6 ,.spice-row .spice-col-7 ,.spice-row .spice-col-8 ,.spice-row .spice-col-9 ,.spice-row .spice-col-10 {
        width: 100%;  
    }
}
.spice-container-fulid .spice-row { 
    margin-right: 0;
    margin-left: 0; 
    background-color: #fff;
}
body { background-color: #fff; }

.olivewp-plus-imp-articles {
    font-size: 1.5rem;
    padding: 20px 0;
}
.olivewp-plus-imp-articles a {
    text-decoration: none;
}